#toggle {
  display: flex;
  position: fixed;
  color: var(--font-color);
  backdrop-filter: blur(1px);
  cursor: pointer;
  top: 15px;
  right: 20px;
  height: 50px;
  width: 50px;
  z-index: 5;
  font-size: 2.5em;
  border: none;
}

@media (min-width: 801px) {
  #toggle {
    display: none;
  }
}
