$font: 'Work Sans', sans-serif;
$dark: lighten(black, 20%);
$dark-2: lighten($dark, 20%);
$ligth: darken(white, 20%);
$ligth-2: darken(white, 20%);
$bg-light: #ffffff;
$bg-dark: #171923;

$h1: 2.5em;
$h2: 1.3em;
$h3: 1.2em;
$p: 1em;

:root {
  --bg-color: #ffffff;
  --bg-nav: #ffffffbe;
  --bg-light: #f8f8f8;
  --font-color: #3d3d3d;
  --font-light: #202020;
  --filter: brightness(105%);
}

.lightMode {
  --bg-color: #171923;
  --bg-nav: #171923ee;
  --bg-light: #232535;
  --font-color: white;
  --font-light: #ffffff;
  --filter: brightness(90%);
}

@media (min-width: 801px) {
  $h1: 3.5em;
  $h2: 2em;
  $h3: 1.8em;
  $p: 1.5em;

  h1 {
    font-size: $h1;
  }
  h2 {
    font-size: $h2;
  }
  h3 {
    font-size: $h3;
  }
  p {
    font-size: $p;
  }

  .btn {
    font-size: $p;
  }
} ;
